body {
  display: flex;
  justify-content: center;
}
.container {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 42px;
  padding: 32px;
}

.rows {
  display: flex;
  width: 48px;
  height: 48px;
  border: 1px solid #000;
}

.color {
  background-color: purple;
}